*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #F1F1F1;
}
ul{
    display: flex;
    list-style-type:none
    ;
}
.navdroit{
    display: flex;
     justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: black
    ;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
position: fixed;
z-index: 1;
   
}
.navgauche{
     display: flex;
     justify-content: space-evenly;
    align-items: center;
    color: #054C73;
        font-size: 1.5rem;
        font-family:Georgia, 'Times New Roman', Times, serif;

}

.img1{
    background-image: url("scandinavian-interior-mockup-wall-decal-background\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 48rem;
}

.carre{
    width: 40%;
    background-color: #DFE9F4;
    color: white;
    height: 19rem;
    margin: 10rem;
    margin-top: 20rem;
    border-radius: 1REM;
    
}
.control{
display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.New{
    color: black;
  margin: 1rem;
  
    font-family: "Roboto";
  
  margin-top: 2rem;
  margin-left: 2rem;
    width: 100%;
    font-size: 1.5rem;
}
.Discover{
    color: #054C73;
    font-family: "Roboto";
    
  margin: 1rem;
  
  margin-left: 2rem;
    font-size: 2rem;
}
.Lorem{
    color: black;
    
    font-family: "Roboto";
  margin: 1rem;
  
  margin-left: 2rem;
    font-size: 1rem;
}
.Buybtn{
    background-color: #054C73 ;
    color: white;
    width: 30%;
    height: 3rem;
    border-radius: 1rem;
  margin: 1rem;
  
  margin-left: 2rem;
  border: none;
}
.troisblock{
    display: flex;
    justify-content: space-evenly;
        background-color: #ECECEB;

    height: 4rem;
}
.block{
    display: block;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    align-items: center;
    
    justify-content: space-evenly;
}
.flex2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.titre{
    font-size:1.5rem;
    font-family: "Roboto";
}

.espaces{
    height: 10rem;
}
h1{
    font-family:"Roboto" ;
}
.les33{
    margin-bottom: 1rem;
    
    cursor: pointer;
}

.les33:hover{
    
  transform: translateY(-5px);
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.2)
}

footer{
    background-color: #054C73;
    height: 15rem;
    display: flex;
    
    justify-content:space-evenly;
    align-items: center;
}
.footerglockgauche{
    margin: 5rem;
   
    
}
.footerglockdroit{
    margin: 5rem;
    
}
h2{
    font-size: 1.5rem;
    color: white;
    font-family: "roboto";
}

.lorem2{
    color: white;
    font-size: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recadrer{
    height: 8rem;
    margin-top: 1rem;
}


@media (min-width: 1400px) and (max-width: 1800px) {


    
.img1{
    background-image: url("scandinavian-interior-mockup-wall-decal-background\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 65rem;
}
  }